button, #saveUpdateValues{
    height: 30px;
    width: 50px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
    cursor:pointer;
    color:white;
}
#BinUpdateTime, #CBRUpdateTime{
    color:blue;
    font-size: 15px;
}
#Start{
    background-color: green;
}
#Stop{
    background-color: rgb(195, 40, 40);   
}
#saveUpdateValues{
    background-color: rgb(14, 86, 144);
}
.InfStatus{
    text-decoration:underline;
    font-weight: 600;
}
.InfText, .InfStatus{
    font-size: 15px;
}